@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  background-color: #1a1a1a;
} */

@layer base {
  :root {
    --font-lato: '__Lato_Fallback';
    --font-inter: '__Inter_Fallback';
  }
}
/* Add to your global CSS file */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 20px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

.font-lato{
  font-family: var(--font-lato), sans-serif !important;
}
.font-inter{
  font-family: var(--font-inter), sans-serif !important;
}

.site-text-white {
  color: white;
}

.site-text-black {
  color: black;
}


.sidebar-filter{
  margin-top: 0 !important;
}